.navbar-sansofi {
  background-color: $white;
  /*
  .navbar-brand,
  .navbar-toggler {
    color: $navy;

    @include hover-focus {
      color: $navy;
    }
  }

  .navbar-nav {
    .nav-link {
      color: $navy;

      @include hover-focus {
        color: $black-coral;
      }

      &.disabled {
        color: $black-coral;
      }
    }

    .open > .nav-link,
    .active > .nav-link,
    .nav-link.open,
    .nav-link.active {
      color: $black-coral;
    }
  }

  .navbar-toggler {
    border-color: $navy;
  }

  .navbar-toggler-icon {
    background-image: $navy;
  }

  .navbar-text {
    color: $navy;
  }*/
}
